<section class="block my-0">
    <div class="hero-alternate__media">
        <div class="md:hidden h-full">
            <video #mobileVideo playsinline autoplay loop muted class="absolute inset-0 w-full h-full object-cover">
                <source src="/baber-hero.mp4" type="video/mp4">
            </video>
        </div>
        <div class="hidden md:block">
            <video #desktopVideo playsinline autoplay loop muted class="object-cover w-full">
                <source src="/baber-hero.mp4" type="video/mp4">
            </video>
        </div>
    </div>

    <div
        class="flex absolute w-full h-full top-0 left-0 p-4 md:px-8 md:py-12 text-left justify-start items-end md:justify-start md:items-start">
        <div class="inline-flex flex-col md:w-1/2 2xl:w-1/3">
            <h1 class="text-[#fbfbfb] text-3xl md:text-4xl lg:text-5xl font-light tracking-wider">
                FLAWLESS SKIN, <br>ALL DAY IMPECCABLE
            </h1>

            <div class="font-sans mt-6 md:mt-8 text-[#fbfbfb]">
                <p>Beautiful blurred skin with a soft and natural feel. Our new liquid matte foundation and setting
                    spray are simply Impeccable.</p>
            </div>

            <div class="mt-6 md:mt-12 flex gap-3 flex-wrap items-start">
                <a routerLink="/shop" class="px-6 py-3 bg-white text-black hover:bg-white/90">
                    BOOK
                </a>
                <a routerLink="/learn" class="px-6 py-3 border border-white text-white hover:bg-white hover:text-black">
                    LEARN MORE
                </a>
            </div>
        </div>

    </div>
</section>
